body {
    background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLUUhPb9ti6Ub6BLjo_EhiD3xmtzRc6jyhIRMKC7iIrlLKem3naaSev5KUCMnv-O5r7b44c1Aq3RQ8hQflMmXq-rVfnrOaJK7XAUDQV73B9-zk1ei49LFosW5TMzCPkAL7XHKzi1XojjFQ7NPIOQ2DPN=w1372-h882-no?authuser=0");
    background-size: cover;
}

.button {
    background-color: rgb(102, 93, 93);
    border: white;
    color: white;
    display: block;
    margin: 4px auto;
}

.button:hover {
    background-color: rgb(165, 10, 165);
    color: white;
}

img {
    display: none;
}

@media only screen and (min-width: 768px) {
    img {
        display: inline;
    }
}